@import "tailwindcss";

@font-face {
  font-family: 'Product';
  src: url('/fonts/Product_Sans_Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

.product {
  font-family: 'Product', sans-serif;
}

.glovo-green {
    background-color: #00A082;
}

.glovo-green-accent {
  background-color: #00846b;
}

.glovo-yellow {
    background-color: #FFC244;
}

.glovo-yellow-accent {
  background-color: #dda83d;
}