---
import Layout from '../layouts/Layout.astro';

---

<Layout>
    <div class="flex w-full h-full">
        <div class="m-auto">
            <a href="real-data-view" class="px-6 py-3 rounded-full bg-[#00A082] text-white border-black font-semibold">Real Data View</a>
        </div>
    </div>
</Layout>
