---
import Header from "../components/header/Header";
import "../styles/global.css";
import Authentication from "../components/Auth/components/Authentication";
import tailwindConfig from '../../astro.config.mjs'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>GTR CX PERÚ</title>
  </head>
  <body>
    <Authentication client:only="react">
    <main class="max-w-[100vw] min-h-[100vh] product overflow-hidden bg-main text-color-primary">
      <Header client:load />
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
